@use "./components/variables" as variables;

@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:slnt,wght@-11..11,200..1000&family=LXGW+WenKai+TC:wght@300;400;700&family=Noto+Sans+JP:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@mixin m-plus-rounded-1c-thin($font-size: 1em, $font-color: variables.$font-color) {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: $font-size;
  color: $font-color;
}

@mixin m-plus-rounded-1c-light($font-size: 1em, $font-color: variables.$font-color) {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: $font-size;
  color: $font-color;
}

@mixin m-plus-rounded-1c-regular($font-size: 1em, $font-color: variables.$font-color) {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  color: $font-color;
}

@mixin m-plus-rounded-1c-medium($font-size: 1em, $font-color: variables.$font-color) {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: $font-size;
  color: $font-color;
}

@mixin m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin m-plus-rounded-1c-extrabold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin m-plus-rounded-1c-black {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@mixin fredericka-the-great-regular($font-size: 2rem, $font-color: variables.$font-color) {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  color: $font-color;
  font-size: $font-size;
}

// <weight>: Use a value from 200 to 1000
// <slant>: Use a value from -11 to 11
@mixin cairo-play-fw-100-sl--11 {
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" -11;
}

@mixin sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

// <weight>: Use a value from 200 to 1000
@mixin nunito-sans-fw-200 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

@mixin lxgw-wenkai-tc-light {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 300;
  font-style: normal;
}
@mixin lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}
@mixin lxgw-wenkai-tc-bold {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 700;
  font-style: normal;
}

// <weight>: Use a value from 100 to 900
@mixin raleway-fw-100 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

// <weight>: Use a value from 100 to 900
@mixin noto-sans-jp-fw-100 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

// <weight>: Use a value from 100 to 900
@mixin roboto-slab-fw-100 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
@mixin roboto-slab-fw-900 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@mixin material-symbols-outlined($font-size: 1.5em, $font-color: variables.$label-color) {
  color: $font-color;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: $font-size;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}