@mixin d-flex(
  $flex-direction: column,
  $flex-wrap: unset,
  $align-items: normal,
  $align-content: normal,
  $justify-content: normal,
) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  align-items: $align-items;
  align-content: $align-content;
  justify-content: $justify-content;
}

@mixin zero-spacing() {
  padding: 0;
  margin: 0;
}