$font-color: #ffffff !default;
$base-color: #5471a8 !default;

$font-bg-color: rgba(#FFF, 0.3) !default;
$form-labe-color: #21468E !default;
$form-input-box-color: #ffffff4d !default;
$form-input-border-color: #8A8A8A !default;
$form-input-placeholder-color: #707070 !default;

$task-bg-color: #E5EBF1 !default;
$task-border-color: rgba($task-bg-color, 0.6) !default;
$task-new-label: #2E4A63 !default;
$task-label: #44598A !default;

$tracker-colors : (
  '01': #90a2c9,
  '02': #cf8ba7,
  '03': #90c992,
  '04': #90c9c8,
  '05': #d9c459,
  '06': #c97575,
);

$anges: (
  "45" : 45deg,
  "90" : 90deg,
  "135": 135deg,
  "180": 180deg,
  "225": 225deg,
  "270": 270deg,
  "315": 315deg,
  "360": 360deg,
);

$displays: (
  block, inline, inline-block
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
